<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO App</title>
    <link rel="stylesheet" href='/master<%-manifest["scss/main.scss"]%> ' >
</head>
<body>
<div class="container">
    <header class="header">
        <div class="title">
            <h1>TODO App</h1>
        </div>
    </header>
    <div class="sidebar">
        <div class="liste-sidebar">
            <div class="liste-item"><span>Mes Catégories</span></div>
            <div class="liste-item"><span>Mes Buckets Listes</span></div>
            <div class="liste-item"><span>Exporter</span></div>
            <div class="liste-item"><span>Deconnexion</span></div>
        </div>
    </div>
    <div class="category-container">
        <div class="title-category">
            <h3>Avant de mourir 1</h3>
        </div>
        <div class="todos-container">
            <div class="todo-card">
                <div class="todo-title">
                    <h4>faire Chier Ismael</h4>
                    <div class="check-todo"></div>
                </div>
                <div class="todo-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus.</p>
                </div>
            </div>
            <div class="todo-card">
                <div class="todo-title">
                    <h4>faire Chier Ismael</h4>
                    <div class="check-todo"></div>
                </div>
                <div class="todo-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus.</p>
                </div>
            </div>
            <div class="todo-card">
                <div class="todo-title">
                    <h4>faire Chier Ismael</h4>
                    <div class="check-todo"></div>
                </div>
                <div class="todo-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus,sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="category-container">
        <div class="title-category">
            <h3>Avant de mourir 2</h3>
        </div>
        <div class="todos-container">
            <div class="todo-card">
                <div class="todo-title">
                    <h4>faire Chier Ismael</h4>
                    <div class="check-todo"></div>
                </div>
                <div class="todo-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus.</p>
                </div>
            </div>
            <div class="todo-card">
                <div class="todo-title">
                    <h4>faire Chier Ismael</h4>
                    <div class="check-todo"></div>
                </div>
                <div class="todo-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus.</p>
                </div>
            </div>
            <div class="todo-card">
                <div class="todo-title">
                    <h4>faire Chier Ismael</h4>
                    <div class="check-todo"></div>
                </div>
                <div class="todo-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus.</p>
                </div>
            </div>
            <div class="todo-card">
                <div class="todo-title">
                    <h4>faire Chier Ismael</h4>
                    <div class="check-todo"></div>
                </div>
                <div class="todo-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus.</p>
                </div>
            </div>
            <div class="todo-card">
                <div class="todo-title">
                    <h4>faire Chier Ismael</h4>
                    <div class="check-todo"></div>
                </div>
                <div class="todo-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus.</p>
                </div>
            </div>
            <div class="todo-card">
                <div class="todo-title">
                    <h4>faire Chier Ismael</h4>
                    <div class="check-todo"></div>
                </div>
                <div class="todo-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus.</p>
                </div>
            </div>
            <div class="todo-card">
                <div class="todo-title">
                    <h4>faire Chier Ismael</h4>
                    <div class="check-todo"></div>
                </div>
                <div class="todo-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error exercitationem explicabo fuga in ipsam laborum laudantium libero maxime molestias pariatur repellendus, sequi sunt tempora veritatis vero voluptate voluptatem voluptatibus.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<script src='/master<%-manifest["ts/main.ts"]%>'></script>
</body>
</html>